body{
	overflow: hidden;
}
.calc{
	border: 7px solid black;
	border-radius: 8px;
	box-shadow: 0px 0px 0px 10px #666;
	color: darkgray;
	background-color: #26405b;
	width: 90%;
	padding: 10px;
	top: 25px;
	position: relative;
	transform: scale(.8);
    transform-origin: 0 0;
}
button{
	color: black;
	font-weight: bold;
	text-align: center;
}
button:active{
	background-color: skyblue;
}
input:focus{
	outline: none;
	border: none;
}
button:disabled{
	color: gray;
}
form{
	box-shadow: 0px 0px 0px 11px rgba(0,0,0,0.75);
	font-weight: bold;
	font-size: 24px;
}
#display{
	width: 100%;
	height: 40px;
	border-bottom: none;
	visibility: hidden;
}
#display1{
	width: 100%;
	height: 40px;
	border-top: none;
	text-align: right;
	visibility: hidden;
}
.row{
	text-align: center;
}
#replay{
	border-radius: 50%;
	padding: 30px;
}
.number > .col > button{
	width: 80px;
	border-radius: 8px 8px 12px 12px;
}
.buttons > .col > button{
	width: 60px;
	border-radius: 8px;
}
#ac,#del{
	background-color: red;
	border-color: red;	
}
.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}
#circle,#circle1{
  border-radius: 50%;
  border: 1px solid black;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
}
#text,#text1{
	display: inline-block;
	margin-right: -5px;
	font-weight: bold;
}
h4,h5{
	font-weight: bold;
}
@media only screen and (max-width: 768px) {
    .calc{
		width: 170%;
		top: 55px;
		right: -10px;
		transform: scale(.55);
	}
}